---
import { Image } from 'astro:assets'

import MainLayout from '@layouts/MainLayout.astro'
import BanerOverlay from '@components/BanerOverlay.astro'
import SectionSeparator from '@components/SectionSeparator.astro'

import bgPic1 from '@assets/index/bg-pic-1.webp'
import bgPic2 from '@assets/index/bg-pic-2.webp'
import bgPic3 from '@assets/index/bg-pic-3.webp'
import bgPic4 from '@assets/index/bg-pic-4.webp'
import pixelHeaven from '@assets/index/pixelheaven.png'

import darkProjectLogo from '@assets/index/logo-dark-project.svg'
import envyTechLogo from '@assets/index/logo-envy-tech.webp'
import genesisLogo from '@assets/index/logo-genesis.webp'
import typebuildersLogo from '@assets/index/logo-typebuilders.svg'
---

<MainLayout>
    <section>
        <Image src={bgPic1} alt="" class="h-[33vh] w-full object-cover" />
        <SectionSeparator> O co tutaj chodzi? </SectionSeparator>
        <div class="container mx-auto">
            <p
                class="mx-auto my-14 text-center sm:text-start md:w-2/3 xl:w-1/2"
            >
                Od kilku lat organizujemy spotkania dla hobbystów, początkowo
                spotykaliśmy się w gronie znajomych, lecz rozwinęło się to do
                wiekszych spotkań. Chcemy dać możliwość społeczności na
                spotkanie się i spędzenie miło czasu, przy okazji organizując
                ciekawe konkursy dla urozmaicenia wydarzenia!
            </p>
        </div>
    </section>
    <section>
        <BanerOverlay imageUrl={bgPic2}>
            <Fragment slot="content">
                <h1 class="text-2xl">Gdzie widzimy się w tym roku?</h1>
                <p class="w-5/6 md:w-2/3">
                    W tym roku znowu spotkamy się w Warszawie, planujemy dużo
                    większą salę, wiecej miejsca wystawowego, ciekawe atrakcje
                    oraz konkursy z nagrodami! Zapraszamy serdecznie wszystkich,
                    nawet tych którzy nie mają wiekszej wiedzy klawiaturowej na
                    fajne spędzenie czasu i podzielenie się zajawką!
                </p>
            </Fragment>
        </BanerOverlay>
    </section>
    <section>
        <SectionSeparator backgroundColor="bg-pixel-heaven">
            Pixel Heaven Forward 2025
        </SectionSeparator>
        <div class="relative">
            <Image src={pixelHeaven} alt="" class="w-full" />
            <div class="my-14 flex flex-col items-center gap-8">
                <div class="md:w-2/3 xl:w-1/2 2xl:w-5/12">
                    <p class="text-center text-xl/9 sm:text-start">
                        Poza nadchodzącym Meetem w tym roku można nas znaleźć
                        również na Pixel Heaven Forward 2025. Oprócz panelu
                        ShiftHappens na głównej scenie pierwszego dnia
                        festiwalu, mamy do dyspozycji również część sali w
                        której pokażemy wycinek naszych kolekcji.
                    </p>
                </div>
                <div>
                    <a href="https://pixelheavenfest.com/" target="_blank">
                        <div
                            class="bg-pixel-heaven rounded-lg px-4 py-2 text-center"
                        >
                            Strona Pixel Heaven Forward
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section>
        <SectionSeparator>
            Zobacz jak spędziliśmy czas ostatnio!
        </SectionSeparator>
        <script src="@scripts/EmblaCarousel.js" />
        <div
            class="my-5 flex rounded-xl py-4 sm:py-3 md:py-5"
            id="photos-carousel"
        >
            <div class="flex align-items-center embla__button--prev">
                <i class="fs-1 bi bi-chevron-left mx-2"></i>
            </div>
            <div class="embla__viewport rounded-5xl w-100 overflow-hidden">
                <div class="row embla__container flex-nowrap"></div>
            </div>
            <div class="flex align-items-center embla__button--next">
                <i class="fs-1 bi bi-chevron-right mx-2"></i>
            </div>
        </div>
    </section> -->
    <section>
        <Image src={bgPic3} alt="" class="w-full" />
        <SectionSeparator> Partnerzy JBWK Meet 2024 </SectionSeparator>
        <div class="bg-gray-light container mx-auto my-18 rounded-4xl">
            <div
                class="grid grid-cols-2 items-center gap-8 px-10 py-8 sm:grid-cols-4 sm:gap-12 md:gap-16"
            >
                <Image
                    src={envyTechLogo}
                    alt="Logo Envy Tech"
                    class="block aspect-21/9 w-full object-contain"
                />

                <Image
                    src={genesisLogo}
                    alt="Logo Genesis"
                    class="block aspect-21/9 w-full object-contain"
                />

                <Image
                    src={darkProjectLogo}
                    alt="Logo Dark Project"
                    class="block aspect-21/9 w-full object-contain"
                />

                <Image
                    src={typebuildersLogo}
                    alt="Logo Typebuilders"
                    class="block aspect-21/9 w-full object-contain"
                />
            </div>
        </div>
    </section>

    <section>
        <SectionSeparator> Grupa na Facebooku </SectionSeparator>
        <BanerOverlay imageUrl={bgPic4} align="justify-end">
            <Fragment slot="content">
                <p class="w-5/6 md:w-2/3">
                    Chciałbyś dowiedzieć się wiecej na temat klawiatur? A może
                    chciałbyś pochwalić się swoim buildem? Znajdziesz tam
                    informację o przyszłych wydarzeniach!
                </p>
                <div>
                    <a
                        href="https://www.facebook.com/groups/266901557998281/"
                        target="_blank"
                    >
                        <div class="bg-red rounded-lg px-4 py-2 text-center">
                            Dołącz do naszej grupy na facebooku!
                        </div>
                    </a>
                </div>
            </Fragment>
        </BanerOverlay>
    </section>
</MainLayout>
