---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
    imagePath: string
}

const { imagePath } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
    'src/assets/gallery/**/*.{jpeg,jpg,png,gif,webp}'
)

if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/images/gallery/**/*.{jpeg,jpg,png,gif,webp}"`
    )

const imageThumbnailPath = imagePath
    .substring(0, imagePath.lastIndexOf('.'))
    .concat('_thumbnail', '.jpg')

const image = (await images[imagePath]()).default
const imageThumbnail = (await images[imageThumbnailPath]()).default
const altText = imageThumbnailPath.substring(
    imageThumbnailPath.lastIndexOf('/') + 1
)

const canonicalURL = new URL(image.src, Astro.url)
---

<a
    href={canonicalURL}
    data-pswp-width={image.width}
    data-pswp-height={image.height}
    target="_blank"
    class="w-auto grow"
>
    <Image
        src={imageThumbnail}
        alt={altText}
        class="max-h-[25vh] w-full rounded-2xl object-cover object-center"
        loading="lazy"
        decoding="async"
    />
</a>
